body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1684px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u616_img {
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:158px;
}
#u616 {
  position:absolute;
  left:43px;
  top:101px;
  width:345px;
  height:158px;
}
#u617 {
  position:absolute;
  left:2px;
  top:71px;
  width:341px;
  visibility:hidden;
  word-wrap:break-word;
}
#u618_img {
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  height:67px;
}
#u618 {
  position:absolute;
  left:43px;
  top:34px;
  width:346px;
  height:67px;
}
#u619 {
  position:absolute;
  left:2px;
  top:26px;
  width:342px;
  visibility:hidden;
  word-wrap:break-word;
}
#u620_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:667px;
}
#u620 {
  position:absolute;
  left:1308px;
  top:435px;
  width:376px;
  height:667px;
}
#u621 {
  position:absolute;
  left:2px;
  top:326px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u622_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:667px;
}
#u622 {
  position:absolute;
  left:896px;
  top:435px;
  width:376px;
  height:667px;
}
#u623 {
  position:absolute;
  left:2px;
  top:326px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u624_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:667px;
}
#u624 {
  position:absolute;
  left:480px;
  top:435px;
  width:376px;
  height:667px;
}
#u625 {
  position:absolute;
  left:2px;
  top:326px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u626_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:667px;
}
#u626 {
  position:absolute;
  left:38px;
  top:435px;
  width:376px;
  height:667px;
}
#u627 {
  position:absolute;
  left:2px;
  top:326px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u628_div {
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:228px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u628 {
  position:absolute;
  left:452px;
  top:34px;
  width:345px;
  height:228px;
}
#u629 {
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  word-wrap:break-word;
}
