body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:847px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1164_div {
  position:absolute;
  left:0px;
  top:0px;
  width:585px;
  height:279px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1164 {
  position:absolute;
  left:262px;
  top:226px;
  width:585px;
  height:279px;
}
#u1165 {
  position:absolute;
  left:0px;
  top:0px;
  width:585px;
  word-wrap:break-word;
}
