body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1422px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u866_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:800px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u866 {
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:800px;
}
#u867 {
  position:absolute;
  left:2px;
  top:392px;
  width:1296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u868_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:763px;
}
#u868 {
  position:absolute;
  left:133px;
  top:38px;
  width:1px;
  height:762px;
}
#u869 {
  position:absolute;
  left:2px;
  top:373px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u870_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1301px;
  height:2px;
}
#u870 {
  position:absolute;
  left:0px;
  top:38px;
  width:1300px;
  height:1px;
}
#u871 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u872_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u872 {
  position:absolute;
  left:27px;
  top:8px;
  width:70px;
  height:22px;
  font-size:16px;
}
#u873 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  white-space:nowrap;
}
#u874_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u874 {
  position:absolute;
  left:18px;
  top:49px;
  width:57px;
  height:20px;
}
#u875 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u876_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u876 {
  position:absolute;
  left:28px;
  top:79px;
  width:92px;
  height:18px;
  font-size:13px;
}
#u877 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u878_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#0066FF;
}
#u878 {
  position:absolute;
  left:41px;
  top:107px;
  width:27px;
  height:18px;
  font-size:13px;
  color:#0066FF;
}
#u879 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u880_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1157px;
  height:574px;
}
#u880 {
  position:absolute;
  left:137px;
  top:41px;
  width:1157px;
  height:574px;
}
#u881 {
  position:absolute;
  left:2px;
  top:279px;
  width:1153px;
  visibility:hidden;
  word-wrap:break-word;
}
#u882_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u882 {
  position:absolute;
  left:1131px;
  top:50px;
  width:105px;
  height:23px;
}
#u883 {
  position:absolute;
  left:2px;
  top:2px;
  width:101px;
  word-wrap:break-word;
}
#u884_div {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:94px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u884 {
  position:absolute;
  left:1259px;
  top:50px;
  width:163px;
  height:94px;
}
#u885 {
  position:absolute;
  left:10px;
  top:2px;
  width:143px;
  word-wrap:break-word;
}
#u886 {
  position:absolute;
  left:1236px;
  top:62px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u886_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:15px;
  height:8px;
}
#u886_seg1 {
  position:absolute;
  left:7px;
  top:-4px;
  width:8px;
  height:43px;
}
#u886_seg2 {
  position:absolute;
  left:7px;
  top:31px;
  width:16px;
  height:8px;
}
#u886_seg3 {
  position:absolute;
  left:11px;
  top:26px;
  width:18px;
  height:18px;
}
#u887 {
  position:absolute;
  left:-39px;
  top:10px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
